.user-msg {
    position: fixed;
    top: 1em;
    right: 1em;
    z-index: 1000;

    padding: 0.5em;
    margin: 0;
    min-width: 15vw;

    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.2);
    border-radius: 8px;

    animation: slideInFromTop 0.3s ease-out forwards;
}

.user-msg.success {
    background-color: #d4edda;
    color: #155724;
}

.user-msg.error {
    background-color: #f8d7da;
    color: #721c24;
}

.user-msg h4 {
    font-size: 1.5em;
    padding-right: 1.5em;
    margin-right: 4px;
}

.user-msg button {
    position: absolute;
    top: 0em;
    right: 0em;

    font-size: 1.2rem;
    padding: 0;
    margin: 0;
    
    color: inherit;
    background: none;

    margin-right: 0.2em;
}

.user-msg button:hover {
    color: #666; 
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}